<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Mon_css/style_connec.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Connexion Eprouf</title>
</head>
<body>
    <div class="creat_compte_connex">
        <div class="creat_connex">
            <h2>Connexion</h2>
        </div>
        <form action="" class="form" method="post">
            <div class="form_creation_connex">
                <input type="text" required="required" placeholder="E-mail/Téléphone ">
            </div>
            <div class="form_creation_connex">
                <input type="password" name="" id="" required="required" placeholder="Mot de passe ">
            </div>
            <button type="submit">Connexion</button>
            <div class="mdp">
            <a href="#">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
    <link rel="stylesheet" href="../js/bootstrap.js">
</body>
</html>