<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../Mon_css/style.css">
  </head>
  <body>
<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html" title="Acceuil"><span class="text-warning">UAC</span>-IFRI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#Acceuil" id="acceuil">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="connexion.html">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="inscription.htm">Inscription</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/images1_ifri.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>La maintenance</h5>
        <p>Nous sommes disponible pour vos services de maintenace...</p>
        <p><a href="#" class="btn btn-warning mt3">En savoir plus</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../images/image2" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>La programmation</h5>
        <p>Pour vos besoin de d'application ou de site web...</p>
        <p><a href="#" class="btn btn-warning mt3">En savoir plus</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../images/image3" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Installation des réseaux informatique</h5>
        <p>Pour vos besoin d'installation ou de maintenance des réseaux information</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--Section d'acceuil-->
<section id="Acceuil" class="about section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12">
        <div class=  "about-img">
          <br>
          <p></p>
          <img src="../images/image3" width="300" height="200" alt="" class="img-fluid">
        </div>
      </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class="about-text">
            <h2>A l'IFRI, nous batisons l'exélence pour dans<br>tous nos domaine de formation</h2>
            <p>L'IFRI est une institue de la Formation et Recherche en Informatique ...  
             </p>
              <a href="https://ifri-uac.bj/" class="btn btn-warning"> En savoir plus</a>
            </div>
        </div>
     </div>
  </div>
</section>
<!--about section-->
<section id="Contact" class="contact section-padding">
    <div class="container">
      <div class="row">
      </div>
      <div class="row m-0">
        <form action="#" class="bg-light p-4 m-auto">
          <div class="col-md-12 p-0 pt-4 pb-4">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="text" class="form-control" required placeholder="Votre nom complet">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="text" class="form-control" required placeholder="Votre E-mail">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <textarea name="" id="" required class="form-control" rows="3">
                  </textarea>
                </div>
              </div>
              <button class="btn btn-warning btn-lg btn-block mt-3">
                Envoyez nous votre suggestion
              </button>
            </div>
           </div>
        </form>
      </div>
    </div>
</section>
<!--footer section-->
<footer class="bg-dark p-2 text-center">
  <div class="container">
    <p class="text-white">
      Réserver au droit d'auteur @<span class="text-warning">TPIP_31</span>
    </p>
  </div>
</footer>
<script src="../js/bootstrap.js"></script>
  </body>
</html>