<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Mon_css/style_connec.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>creation de compte</title>
</head>
<body>
    <div class="creat_compte">
        <div class="creat">
            <h2>Créer votre compte</h2>
        </div>
            <form action="" method="post" class="form">
                <div class="form_creation">
                    <input type="text" name="" id="" placeholder="Nom & Prénom*" required="required">
                </div>
                
                <div class="form_creation">
                    <input type="email" name="" id=""  placeholder="E-mail*" required="required">
                </div>
                <div class="form_creation">
                    <input type="text" name="" id=""  placeholder="Numéro matricule*" required="required">
                </div>
                <div class="form_creation">
                    <input type="password" name="" id="" placeholder="Mot de Passe*" required="required"><br>
                   <br> <input type="password" name="" id=""placeholder="Confirmer mot de Passe*" required="required">
                </div>
                <button class="btn btn-warning btn-lg btn-block mt-3">
                    Créer mon compte
                  </button>
                  
                  <div class="form_creation">
                    <br>
                    <p>J'ai déja un compte ? <a href="connexion.html">connectez-vous</a> </p>
                  </div>
            </form>
        </div>
        <script src="../js/bootstrap.js"></script>
</body>
</html>